<div id="condominio" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/apps/meu-condominio/condominios'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{condominio.pessoa.nome}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Novo condominio
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detalhes do Condominio</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-condominio-button mat-white-bg mt-16 mt-sm-0"
                    [disabled]="condominioForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addCondominio()">
                <span>ADD</span>
            </button>

            <button mat-raised-button
                    class="save-condominio-button mat-white-bg mt-16 mt-sm-0"
                    [disabled]="condominioForm.invalid || condominioForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveCondominio()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <form name="condominioForm" [formGroup]="condominioForm" class="condominio w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Informações">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="nome"
                                           formControlName="nome"
                                           placeholder="Nome do Condominio"
                                           required>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="cpf_cnpj"
                                           formControlName="cpf_cnpj"
                                           placeholder="CPF/CNPJ"
                                           required>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="tipoCondominio"
                                           formControlName="tipoCondominio"
                                           placeholder="Tipo de Condominio"
                                           required>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="finalidade"
                                           formControlName="finalidade"
                                           placeholder="Finalidade"
                                           required>
                                </mat-form-field>

                            </div>
                        </mat-tab>

                        <mat-tab label="Endereco">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                
                            </div>
                        </mat-tab>

                        <mat-tab label="Contatos">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                               
                            </div>
                        </mat-tab>

                        <mat-tab label="Espaços">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                               
                            </div>
                        </mat-tab>

                        <mat-tab label="Funcionários">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                              
                            </div>
                        </mat-tab>

                        <mat-tab label="Avisos">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                              
                            </div>
                        </mat-tab>

                    </mat-tab-group>
                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
